Loading Datasets

In [6]:
import pandas as pd;
deliveries_2023=pd.read_csv('../Dataset/wpl_2023_deliveries.csv')
deliveries_2024=pd.read_csv('../Dataset/wpl_2024_deliveries.csv')
deliveries_2025=pd.read_csv('../Dataset/wpl_2025_deliveries.csv')

In [8]:
print(deliveries_2023.head())
#print(deliveries_2024.head())
#print(deliveries_2025.head())

   match_id  season  match_no          date                      venue  \
0    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
1    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
2    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
3    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
4    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai

  batting_team bowling_team  innings  over        striker            bowler  \
0          UPW          MIW        1   0.1          Healy  Nat Sciver-Brunt
1          UPW          MIW        1   0.2          Healy  Nat Sciver-Brunt
2          UPW          MIW        1   0.3  Devika Vaidya  Nat Sciver-Brunt
3          UPW          MIW        1   0.4  Devika Vaidya  Nat Sciver-Brunt
4          UPW          MIW        1   0.5          Healy  Nat Sciver-Brunt

   runs_of_bat  extras  wide  legbyes  byes  noballs wicket_type  \
0            0       0     0        0     0        0         NaN
1            1       0     0        0     0        0         NaN
2            0       0     0        0     0        0         NaN
3            1       0     0        0     0        0         NaN
4            0       0     0        0     0        0         NaN

  player_dismissed fielder
0              NaN     NaN
1              NaN     NaN
2              NaN     NaN
3              NaN     NaN
4              NaN     NaN

In [9]:
print(deliveries_2023.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          4999 non-null   int64
 1   season            4999 non-null   int64
 2   match_no          4999 non-null   int64
 3   date              4999 non-null   object
 4   venue             4999 non-null   object
 5   batting_team      4999 non-null   object
 6   bowling_team      4999 non-null   object
 7   innings           4999 non-null   int64
 8   over              4999 non-null   float64
 9   striker           4999 non-null   object
 10  bowler            4999 non-null   object
 11  runs_of_bat       4999 non-null   int64
 12  extras            4999 non-null   int64
 13  wide              4999 non-null   int64
 14  legbyes           4999 non-null   int64
 15  byes              4999 non-null   int64
 16  noballs           4999 non-null   int64
 17  wicket_type       259 non-null    object
 18  player_dismissed  259 non-null    object
 19  fielder           184 non-null    object
dtypes: float64(1), int64(10), object(9)
memory usage: 781.2+ KB
None

In [10]:
print(deliveries_2023.describe())

            match_id  season     match_no      innings         over  \
count    4999.000000  4999.0  4999.000000  4999.000000  4999.000000
mean   202311.527706  2023.0    11.527706     1.464893     9.272174
std         6.388733     0.0     6.388733     0.498816     5.597963
min    202301.000000  2023.0     1.000000     1.000000     0.100000
25%    202306.000000  2023.0     6.000000     1.000000     4.400000
50%    202312.000000  2023.0    12.000000     1.000000     9.200000
75%    202317.000000  2023.0    17.000000     2.000000    14.100000
max    202322.000000  2023.0    22.000000     2.000000    19.600000

       runs_of_bat       extras         wide      legbyes         byes  \
count  4999.000000  4999.000000  4999.000000  4999.000000  4999.000000
mean      1.250650     0.057812     0.025805     0.007201     0.004201
std       1.624821     0.349439     0.158569     0.084564     0.064684
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       1.000000     0.000000     0.000000     0.000000     0.000000
75%       1.000000     0.000000     0.000000     0.000000     0.000000
max       6.000000     5.000000     1.000000     1.000000     1.000000

           noballs
count  4999.000000
mean      0.002801
std       0.052851
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [11]:
print(deliveries_2023.isnull().sum())

match_id               0
season                 0
match_no               0
date                   0
venue                  0
batting_team           0
bowling_team           0
innings                0
over                   0
striker                0
bowler                 0
runs_of_bat            0
extras                 0
wide                   0
legbyes                0
byes                   0
noballs                0
wicket_type         4740
player_dismissed    4740
fielder             4815
dtype: int64

In [12]:
all_deliveries = pd.concat([deliveries_2023, deliveries_2024, deliveries_2025], ignore_index=True)

In [ ]:
print(all_deliveries.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15386 entries, 0 to 15385
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          15386 non-null  int64
 1   season            15386 non-null  int64
 2   match_no          15386 non-null  int64
 3   date              15386 non-null  object
 4   venue             15386 non-null  object
 5   batting_team      15386 non-null  object
 6   bowling_team      15386 non-null  object
 7   innings           15386 non-null  int64
 8   over              15386 non-null  float64
 9   striker           15386 non-null  object
 10  bowler            15386 non-null  object
 11  runs_of_bat       15386 non-null  int64
 12  extras            15386 non-null  int64
 13  wide              15386 non-null  int64
 14  legbyes           15386 non-null  int64
 15  byes              15386 non-null  int64
 16  noballs           15386 non-null  int64
 17  wicket_type       813 non-null    object
 18  player_dismissed  813 non-null    object
 19  fielder           580 non-null    object
 20  phase             5210 non-null   object
dtypes: float64(1), int64(10), object(10)
memory usage: 2.5+ MB
None
   match_id  season  match_no          date                      venue  \
0    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
1    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
2    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
3    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai
4    202310    2023        10  Mar 12, 2023  Brabourne Stadium, Mumbai

  batting_team bowling_team  innings  over        striker  ... runs_of_bat  \
0          UPW          MIW        1   0.1          Healy  ...           0
1          UPW          MIW        1   0.2          Healy  ...           1
2          UPW          MIW        1   0.3  Devika Vaidya  ...           0
3          UPW          MIW        1   0.4  Devika Vaidya  ...           1
4          UPW          MIW        1   0.5          Healy  ...           0

   extras  wide  legbyes  byes  noballs  wicket_type player_dismissed fielder  \
0       0     0        0     0        0          NaN              NaN     NaN
1       0     0        0     0        0          NaN              NaN     NaN
2       0     0        0     0        0          NaN              NaN     NaN
3       0     0        0     0        0          NaN              NaN     NaN
4       0     0        0     0        0          NaN              NaN     NaN

  phase
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

[5 rows x 21 columns]

In [15]:
print(all_deliveries.tail())

       match_id  season  match_no          date                      venue  \
15381    202522    2025        22  Mar 15, 2025  Brabourne Stadium, Mumbai
15382    202522    2025        22  Mar 15, 2025  Brabourne Stadium, Mumbai
15383    202522    2025        22  Mar 15, 2025  Brabourne Stadium, Mumbai
15384    202522    2025        22  Mar 15, 2025  Brabourne Stadium, Mumbai
15385    202522    2025        22  Mar 15, 2025  Brabourne Stadium, Mumbai

      batting_team bowling_team  innings  over               striker  ...  \
15381          DCW          MIW        2  19.2  Nallapureddy Charani  ...
15382          DCW          MIW        2  19.3           Niki Prasad  ...
15383          DCW          MIW        2  19.4           Niki Prasad  ...
15384          DCW          MIW        2  19.5  Nallapureddy Charani  ...
15385          DCW          MIW        2  19.6           Niki Prasad  ...

      runs_of_bat  extras  wide  legbyes  byes  noballs  wicket_type  \
15381           1       0     0        0     0        0          NaN
15382           0       0     0        0     0        0          NaN
15383           1       0     0        0     0        0          NaN
15384           1       0     0        0     0        0          NaN
15385           1       0     0        0     0        0          NaN

      player_dismissed fielder  phase
15381              NaN     NaN  Final
15382              NaN     NaN  Final
15383              NaN     NaN  Final
15384              NaN     NaN  Final
15385              NaN     NaN  Final

[5 rows x 21 columns]

In [16]:
print(f"Total rows in merged dataset: {all_deliveries.shape[0]}")
print(f"Total unique seasons in data: {all_deliveries['season'].unique()}")

Total rows in merged dataset: 15386
Total unique seasons in data: [2023 2024 2025]

In [18]:
missing_values = all_deliveries.isnull().sum()
print(missing_values[missing_values > 0])

wicket_type         14573
player_dismissed    14573
fielder             14806
phase               10176
dtype: int64

HANDLE MISSING VALUES :

In [19]:
print(all_deliveries["phase"])

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
         ...
15381    Final
15382    Final
15383    Final
15384    Final
15385    Final
Name: phase, Length: 15386, dtype: object

In [21]:
all_deliveries["wicket_type"].fillna("Not Out", inplace=True)
all_deliveries["player_dismissed"].fillna("None", inplace=True)
all_deliveries["fielder"].fillna("None", inplace=True)
all_deliveries["phase"].fillna("League",inplace=True)

In [24]:
all_deliveries["extras"].fillna(0, inplace=True)

C:\Users\SACHIN\AppData\Local\Temp\ipykernel_6684\363044273.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_deliveries["extras"].fillna(0, inplace=True)

In [25]:
duplicates = all_deliveries.duplicated().sum()
print(f"Total duplicate rows: {duplicates}")

Total duplicate rows: 11

In [26]:
all_deliveries.drop_duplicates(inplace=True)

In [27]:
all_deliveries["date"] = pd.to_datetime(all_deliveries["date"])

In [28]:
num_cols = ["innings", "over", "runs_of_bat", "extras", "wide", "legbyes", "byes", "noballs"]
all_deliveries[num_cols] = all_deliveries[num_cols].astype(int)

In [29]:
all_deliveries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15375 entries, 0 to 15385
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          15375 non-null  int64
 1   season            15375 non-null  int64
 2   match_no          15375 non-null  int64
 3   date              15375 non-null  datetime64[ns]
 4   venue             15375 non-null  object
 5   batting_team      15375 non-null  object
 6   bowling_team      15375 non-null  object
 7   innings           15375 non-null  int64
 8   over              15375 non-null  int64
 9   striker           15375 non-null  object
 10  bowler            15375 non-null  object
 11  runs_of_bat       15375 non-null  int64
 12  extras            15375 non-null  int64
 13  wide              15375 non-null  int64
 14  legbyes           15375 non-null  int64
 15  byes              15375 non-null  int64
 16  noballs           15375 non-null  int64
 17  wicket_type       15375 non-null  object
 18  player_dismissed  15375 non-null  object
 19  fielder           15375 non-null  object
 20  phase             15375 non-null  object
dtypes: datetime64[ns](1), int64(11), object(9)
memory usage: 2.6+ MB

In [30]:
all_deliveries.head(10)

,match_id,season,match_no,date,venue,batting_team,bowling_team,innings,over,striker,...,runs_of_bat,extras,wide,legbyes,byes,noballs,wicket_type,player_dismissed,fielder,phase
0,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,0,Healy,...,0,0,0,0,0,0,Not Out,None,None,League
1,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,0,Healy,...,1,0,0,0,0,0,Not Out,None,None,League
2,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,0,Devika Vaidya,...,0,0,0,0,0,0,Not Out,None,None,League
3,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,0,Devika Vaidya,...,1,0,0,0,0,0,Not Out,None,None,League
4,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,0,Healy,...,0,0,0,0,0,0,Not Out,None,None,League
5,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,0,Healy,...,0,0,0,0,0,0,Not Out,None,None,League
6,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,1,Devika Vaidya,...,1,0,0,0,0,0,Not Out,None,None,League
7,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,1,Healy,...,0,0,0,0,0,0,Not Out,None,None,League
8,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,1,Healy,...,0,0,0,0,0,0,Not Out,None,None,League
9,202310,2023,10,2023-03-12,"Brabourne Stadium, Mumbai",UPW,MIW,1,1,Healy,...,1,0,0,0,0,0,Not Out,None,None,League

In [31]:
all_deliveries.to_csv("../Cleaned_Dataset/cleaned_wpl_deliveries.csv", index=False)
print("Cleaned dataset saved as CSV!")

Cleaned dataset saved as CSV!